/* backgroundImages.css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dim{
    height: 500px;
    color: red;
    padding: 10px;
}

/* background: yellow; */
.element{
    /* background:aquamarine; */
    background-color: aquamarine;
}

/* background-position:center right; */
.element{
    background-image: url(images/DIAMONDS.jpg);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/DIAMONDS.jpg);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat; */
    background-position: center;
    /* background-position: top; */
    /* background-position: bottom; */
    background-size: contain;
    background-size: 100% 100%;
    background-size: 500px 500px;
    background-size: cover;
    /* background-attachment: fixed; */
    background-attachment: scroll;
}
